@model Hospital.Domain.Entities.Doctor

@{
    ViewData["Title"] = "Edit Doctor";
}

<div class="glass-card">
    <h1 class="mb-4">Edit Doctor</h1>
    <hr />
    <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorId" />
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Specialization" class="control-label"></label>
                <input asp-for="Specialization" class="form-control" />
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ConsultationFee" class="control-label"></label>
                <input asp-for="ConsultationFee" class="form-control" type="number" step="0.01"/>
                <span asp-validation-for="ConsultationFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
